.MainScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__card-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: MoveUpDown 10s linear infinite;
    z-index: 2;
  }
}
