.heading5 {
  margin-bottom: 1rem;
}

.footer {
  width: 100%;
  height: 45vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  margin-top: 6rem;

  &__column {
    display: grid;
  }

  &__row-1 {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__row-2 {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-top: 10px;
    padding-bottom: 6px;
    align-items: center;
  }
}

/////////////////FIRST ROW
.container__about {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 50vw;
  justify-content: flex-start;
  padding: 0 2rem;
}

.container__categories {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 15vw;
  justify-content: flex-start;
  padding: 0 2rem;
  margin-left: 2rem;

  &__links {
    padding: 0;
  }
}

.container__quick-links {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 15vw;
  padding: 0 2rem;

  &__list {
    padding: 0;
  }
}


////////////////////SECOND_ROW
.container__copyright {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-left: 2rem;
}


/////////////SOCIAL LINKS
.container__social-icons {
  padding-left: 2rem;
}

.container__social-icons__list {
  display: flex;
}

.facebook {
  height: 2rem;
  width: 2rem;
  padding-right: 8px;
}

.twitter {
  height: 2.1rem;
  width: 2.1rem;
}
