.App {
    display: flex;
    flex-direction: column;

  &__background-image {
    top: -40%;
    justify-self: center;
    align-self: center;
    position: fixed;
    width: 90%;
    height: 180%;
    opacity: .1;
  }

  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #160630 0%, black 30%, #160630 90%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }

  &__inner-container {
    max-width: 1300px;
    align-self: center;
  }
}
