* {
  font-family: "Mate SC", serif;
}

html {
  width: 100%;
  font-family: "Mate SC", serif;
  font-size: 1rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  color: #fff;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: black 2px 2px 3px;
}

body {
  margin: 0;
  padding: 0;
}
