.Footer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5rem;
  color: white;
  margin-top: 4em;
  background: rgb(211,211,211, .1);
  border-top: 1px solid rgb(211,211,211, .2);

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;

    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: white;
    }
  }

  &__title {
    margin: 0;
  }
}
