.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img {
      width: 70px;
      height: 70px;
      //Turns logo into purple color
      //filter: invert(55%) sepia(39%) saturate(887%) hue-rotate(216deg) brightness(85%) contrast(97%);
    }

    p {
      font-size: 24px;
      color: white;
    }
}
